---
import Footer from "../components/organisms/Footer.astro";
import Header from "../components/organisms/Header.astro";

export interface Props {
  title: string;
  description: string;
  ogType?: string;
  ogImageUrl?: string;
}

const { title, description, ogType, ogImageUrl } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!DOCTYPE html>
<html lang="ja">
  <head prefix=`og: https://ogp.me/ns# fb: http://ogp.me/ns/fb# ${ogType === 'article' ? "article: http://ogp.me/ns/article#" : ""}`>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | ゆっきーの砂場</title>
    <meta content={description} name="description" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content={ogType ?? "website"} />
    <meta property="og:url" content={Astro.url} />
    { ogImageUrl !== undefined ? <meta property="og:image" content={ogImageUrl} /> : '' }
    { ogImageUrl !== undefined ? <meta property="og:image:width" content="1200" /> : '' }
    { ogImageUrl !== undefined ? <meta property="og:image:height" content="630" /> : '' }
    <meta property="og:site_name" content="ゆっきーの砂場" />
    <meta property="og:locale" content="ja_JP" />
    <meta property="twitter:site" content="@Yu_yukk_Y" />
    <meta property="twitter:creator" content="@Yu_yukk_Y" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta name="msapplication-config" content="/browserconfig.xml">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fefce8" />
    <link rel="alternate" type="application/rss+xml" title="RSS feed for yukky-sandbox.dev" href="/rss.xml" />
    <meta name="msapplication-TileImage" content="/mstile-150x150.png"/>
    <meta name="msapplication-TileImage" content="#fefce8" />
    <meta name="theme-color" content="#fefce8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" fetchpriority="high" href="https://fonts.googleapis.com/css2?family=Reggae+One&display=swap&text=ゆっきーの砂場" >
    <link href="https://fonts.googleapis.com/css2?family=Reggae+One&display=swap&text=ゆっきーの砂場" rel="stylesheet" media="print" onload='this.media=""'>
    <link rel="canonical" href={canonicalURL}>
    <script defer>
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.documentElement.classList.add('dark')
          localStorage.theme = 'dark';
      }else {
        localStorage.theme = 'light';
      }
    </script>
  </head>
  <body class="bg-yellow-50 dark:bg-gray-500 w-screen transition duration-300 font-sans">
    <Header />
    <main class="flex justify-center">
      <slot />
    </main>
    <Footer />
  </body>
</html>
